/* Hide the left-hand table of contents */
.bs-sidebar,
.navbar-expand-md.bs-sidebar,
.container .row > .col-md-3 {
  display: none !important;
}

/* Let the main column consume the full row width */
.container .row > .col-md-9 {
  flex: 0 0 100%;
  max-width: 100%;
}

/* Remove the default width cap on the page body container */
.homepage > .container {
  max-width: none;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}
