/* Hide the left-hand table of contents */
.bs-sidebar,
.navbar-expand-md.bs-sidebar,
.container .row > .col-md-3 {
  display: none !important;
}

/* Header bar styling */
.navbar.navbar-default,
.navbar.navbar-default .navbar-collapse,
.navbar.navbar-default .navbar-form {
  background-color: rgb(34, 59, 128) !important;
  border-color: rgb(34, 59, 128) !important;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
  color: #fff !important;
}

/* Hide the search box in the top bar */
form.navbar-form[role="search"],
input#mkdocs-search-query {
  display: none !important;
}

/* Let the main column consume the full row width */
.container .row > .col-md-9 {
  flex: 0 0 100%;
  max-width: 100%;
}

/* Remove the default width cap on the page body container */
.homepage > .container {
  max-width: none;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}
